.button {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  background-color: white;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: rgb(224, 142, 0);
}

.button p {
  color: black;
}

.button span {
  color: white;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(0, 0, 0);
  padding: 0.15rem 0.45rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  font-weight: bold;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
